body{
 background-color: darkturquoise;
 display: flex; flex-direction: column;
}

h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
aside {
    width: 30%;
    padding-left: 15px;
    margin-left: 15px;
    padding-right: 15px;
    float: right;
    font-style: italic;
    background-color: lightcyan;
  }
